.latestRenewalBox a:link,
.latestRenewalBox a:visited {
  text-decoration: none;
  padding: 2px 22px 6px 22px;
  color: white;
  background-color: #47446d;
  border-radius: 8px;
}

.latestRenewalBox a:hover {
  background-color: #2f2d4b;
}
