.informationContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  width: 60%;
  font-size: 30px;
  padding-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .informationContainer {
    margin-top: 15px;
  }
}

.dataDisclaimer,
.detailDisclaimer,
.questionHeader,
.contactHeader {
  color: rgb(28, 28, 80);
  font-weight: bold;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1px;
  text-align: left;
}

.detailDisclaimer {
  margin-top: 40px;
}

@media only screen and (max-width: 500px) {
  .dataDisclaimer,
  .detailDisclaimer,
  .questionHeader,
  .contactHeader {
    text-align: center;
  }
}

.latestRenewalDays,
.averageRenewalDays,
.allRenewalDays {
  color: #000000fc;
  font-weight: 900;
  padding-top: 5px;
}

.latestRenewalDetail,
.averageRenewalDetail,
.allRenewalDetails,
.questionBody {
  border-width: 0;
  border-top: 2px solid rgb(0, 0, 0);
  border-image: linear-gradient(to right, rgb(105, 105, 105), rgba(235, 233, 233, 0.39)) 3;
  font-size: 18px;
  padding: 3px 0 12px 0;
  min-width: 50vw;
  max-width: 50vw;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .latestRenewalDetail,
  .averageRenewalDetail,
  .allRenewalDetails,
  .questionBody {
    min-width: 90vw;
    max-width: 90vw;
  }
}

.latestRenewalLink {
  font-size: 20px;
}

.latestRenewalLength,
.averageRenewalMonths,
.allRenewalLength,
.contactBody {
  border-width: 0;
  border-top: 2px solid rgb(0, 0, 0);
  border-image: linear-gradient(to right, rgb(105, 105, 105), rgba(235, 233, 233, 0.39)) 3;
  font-size: 18px;
  padding-top: 3px;
  min-width: 50vw;
  max-width: 50vw;
}

@media only screen and (max-width: 500px) {
  .latestRenewalLength,
  .averageRenewalMonths,
  .allRenewalLength {
    height: 10vw;
    min-width: 90vw;
    max-width: 90vw;
  }

  .latestRenewalLength {
    line-height: 10vw;
  }
}

@media only screen and (max-width: 500px) {
  .contactBody {
    min-width: 90vw;
    max-width: 90vw;
  }
}

.approvalLinkTable {
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-collapse: collapse;
}

.approvalLinkTable th {
  font-size: 20px;
  padding: 3px 16px 3px 16px;
  background-color: #47446d;
  color: white;
}

.approvalLinkTable th,
.approvalLinkTable td {
  border: 1px solid #ddd;
}

.approvalLinkTable a:link,
.approvalLinkTable a:visited {
  text-decoration: none;
  padding: 2px 14px 4px 14px;
  white-space: nowrap;
}

.approvalLinkTable a:visited {
  background-color: rgba(151, 151, 151, 0.39);
}

.approvalLinkTable a:hover {
  background-color: rgba(151, 151, 151, 0.39);
}
