.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  color: rgb(241, 238, 238);
  line-height: 50px;
  height: 50px;
  background-color: #47446d;
  font-size: 1.6rem;
  border-bottom: 5px solid red;
}

@media only screen and (max-width: 500px) {
  .headerTop {
    line-height: 40px;
    height: 40px;
  }
}

.contactButton {
  width: 45px;
}

.infoButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: 45px;
  width: 50px;
}

.alertContainer {
  font-size: 0.8rem;
  display: flex;
  width: 65%;
  flex-direction: column;
  gap: 2vh;
}

@media only screen and (max-width: 500px) {
  .alertContainer {
    width: 95%;
    margin-top: 3%;
    height: 16vh;
    gap: 10px;
  }
}

h1 {
  font-size: 0.8rem;
  margin: 0px;
  font-weight: normal;
}

.welcomeAlert,
.officialUscisAlert {
  background-color: rgb(197 211 232 / 83%);
  padding: 12px;
  border-left: 12px solid red;
}

.officialUscisAlert {
  border-left: 12px solid green;
}
